.head{
    text-align: center;
    font-family: fantasy;
    font-size: 65px;
    color: rgb(197, 50, 70);
}
.body{
    margin: 0px;
    text-align: center;
    background-image: url(https://www.knorr.com/content/dam/unilever/knorr_world/global/general_image/605779536-%E6%B7%B1%E8%89%B2%E8%94%AC%E8%8F%9C%E8%88%87%E6%B7%BA%E8%89%B2%E8%94%AC%E8%8F%9C%E7%9A%84%E7%87%9F%E9%A4%8A%E5%83%B9%E5%80%BC%E5%B7%AE%E7%95%B0-1284810.jpg) ;
    background-size:cover ;
   
    z-index:-1;
    
    margin: 0px;


}

.header{
    width: 100%;
    height: 200px;
    background-color: rgba(41, 70, 156, 0.829);
}
.header_ul{
    float: left;
    list-style: none;
}
.header_ul li{
    margin-top: 26px;
    margin-left: 15px;
    float: left;
pointer-events: all;

}
.header_ul li:hover{
    color: rgb(187, 76, 32);

}
.header_ul_ul{
    width: 180px;
	text-align: center;
	position: absolute;
	list-style: none;
	background: rgba(204, 197, 191, 0.658);
	color: rgb(214, 90, 18);
   
}
.header_ul_ul li {
	margin: 10px 15px 10px -25px;
    float: none;
    font-size: 25px;
    cursor: pointer;
}
#Region{
color: rgb(197, 66, 19);
margin-top: -2px;
font-size: 35px;
border: solid;
background-color: darkorange;
cursor: pointer;
}
.header_ul_region .header_ul_ul{
    display: none;
}
.header_ul_region:hover .header_ul_ul{
    display: block;
}
.header_ul_ulA{
   float: right;
   list-style: none;
   
}
.header_ul_ulA li{
  color: antiquewhite;
    float: right;
    margin: 0px 50px 10px -25px;
   cursor: pointer;
}
.header_ul_ulA li:hover{
   color: brown;

}
.yourCart{
    color: burlywood;
    background-color: rgb(184, 76, 34);
    float: right;
    width: 150px;
    height: 40px;

}
.login{
    color: burlywood;
    background-color: rgb(211, 69, 12);
    float: right;
    width: 150px;
    height: 40px;
    margin-right: 50px;
    margin-left: 50px;
}

.ul_item{
    font-size: 35px;
    display: inline;
    text-align: center;
    float: left;
    list-style: none;
    margin-top: 50px;
    color: lightcoral;
    cursor: pointer;

}
.ul_item li{
    border: lightslategray 2px solid;
    background-color: rgb(83, 226, 155);
    margin: 15px 15px 15px 15px;
}
.ul_item li:hover{
    color: lightsalmon;
}

.img1{
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
}

.img2{
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
}

.img3{
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
}

.img4{
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
}

.img5{
    margin-top: 5px;
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
    
}

.img6{
    
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
}
.img7{
   
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
   
}


.img8{
    cursor: pointer;
    background-color: #33abcfaa;
    padding: 10px 10px 20px 10px;
    display: inline-block;
    margin: 0px 5px 10px 5px
    
}


#content {
    max-width: 100%;
    margin: 0px auto;
    padding: 30px;
    background-color: #f0f8ff48;
    
    min-height: 400px;
  }
#footer {
    min-height: 100px;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #f0f8ff99;
    text-align: center;
  }
  .ul_botton li{
    font-size: 25px;
    text-align: center;
    float: center;
    margin: 0px 50px 10px -25px;
    cursor: pointer;
    color: rgb(175, 69, 37);
    display: inline;
}
