.head{
    padding: 60px;
    border: solid;
    border-color: sienna;
    background-color: tan;
    
}
.header_ul_ulA{
    float: right;
    list-style: none;
    
 }
 .header_ul_ulA li{
   color: antiquewhite;
     float: right;
     margin: 0px 50px 10px -25px;
    cursor: pointer;
 }
 .header_ul_ulA li:hover{
    color: brown;
 
 }
.head1  {
    text-align: center;
    font-size: 40px;
    color: rgb(228, 51, 20);
    font-family: fantasy;
}
.body{
    background: url(https://lh3.googleusercontent.com/proxy/31Tm3zjrW8J0D9BDeJDax4n7DTwoXP0QBEeU2U2JXG83DiLbxFBJuNkhlc_Q1UM10afwzERjq-LEg3GF-deAarImWP69aKMHvCNGpi-AEWtnK4WIZXgtDAbY8H3Gu82x81RfHo08g9NjiDDKF2tSnC7gUr0Z2PR-ZjOhUNpl7JDohnY6EPAlpOuodA) no-repeat;
    background-size: 100%;
}
.content{
    padding: 170px;
    float: left;
    border: solid;
    border-color: burlywood;
    margin-top: 100px;
    margin-left: 300px;
    background-color: rgba(233, 192, 192, 0.705);
    
    
}
.login_title{
    font-size: 55px;
    color: blue;
    font-family: fantasy;
}
.username{
    float: left;
    padding: 20px;
    border-color: rgba(233, 192, 192, 0.705);
}
.password{
    margin-top: 25px;
float: left;
padding: 20px;
border-color: rgba(233, 192, 192, 0.705);
}
.login_button{
    padding: 10px;
    text-align: center;
    background-color: tomato;
    border-radius: 10%;
    margin-top: 20px;
    cursor: pointer;
    color: rgb(230, 241, 245);
}
.creat{
    font-family: monospace;
    font-size: 20px;
    margin-left: 10px;
    color: blue;
    cursor: pointer;

}
.goback{
    border-radius: 10%;
    background-color: crimson;
    color: rgb(240, 224, 206);

}